# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.venv/

# Environment Variables
.env

# IDE and Development Tools
.idea/
.vscode/
*.swp
*.swo
.ruff_cache/
.pytest_cache/
.python-version
.DS_Store
uv.lock

# Docker
Dockerfile
.dockerignore

# Tests
tests/
